In [1]:
tup = 3, (4, 5, 6), (7, 8)
tup

(3, (4, 5, 6), (7, 8))

In [4]:
tuple([4, 0, 2])

(4, 0, 2)

In [5]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tuple(['foo', [1, 2], True])

('foo', [1, 2], True)

In [13]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [7]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [12]:
a, b = 1, 2
b, a = a, b
print(a,b)

2 1

In [15]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [16]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
rest

[3, 4, 5]

In [17]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [18]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [22]:
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [23]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [25]:
b_list.extend([7, 8, (2, 3)])
b_list

['foo', 'red', 'bar', 'baz', 'dwarf', 7, 8, (2, 3)]

In [26]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf', 7, 8, (2, 3)]

In [28]:
b_list.append('foo')
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 7, 8, (2, 3), 'foo']

In [29]:
[1, 2] * 3

[1, 2, 1, 2, 1, 2]

In [32]:
a = [7, 2, 2, 5, 1, 3]
a.sort()
a

[1, 2, 2, 3, 5, 7]

In [31]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [33]:
import bisect
bisect.bisect(a, 2)

3

In [34]:
bisect.bisect(a, 6)

5

In [35]:
bisect.insort(a, 6)
a

[1, 2, 2, 3, 5, 6, 7]

In [39]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [36]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [37]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [38]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [41]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
zipped

In [42]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [43]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [44]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [45]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [46]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')