In [1]:
tup = 3, (4, 5, 6), (7, 8)
tup

(3, (4, 5, 6), (7, 8))

In [4]:
tuple([4, 0, 2])

(4, 0, 2)

In [5]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tuple(['foo', [1, 2], True])

('foo', [1, 2], True)

In [13]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [7]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [12]:
a, b = 1, 2
b, a = a, b
print(a,b)

2 1

In [15]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [16]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
rest

[3, 4, 5]

In [17]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [18]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [22]:
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [23]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [25]:
b_list.extend([7, 8, (2, 3)])
b_list

['foo', 'red', 'bar', 'baz', 'dwarf', 7, 8, (2, 3)]

In [26]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf', 7, 8, (2, 3)]

In [28]:
b_list.append('foo')
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 7, 8, (2, 3), 'foo']

In [29]:
[1, 2] * 3

[1, 2, 1, 2, 1, 2]

In [32]:
a = [7, 2, 2, 5, 1, 3]
a.sort()
a

[1, 2, 2, 3, 5, 7]

In [31]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [33]:
import bisect
bisect.bisect(a, 2)

3

In [34]:
bisect.bisect(a, 6)

5

In [35]:
bisect.insort(a, 6)
a

[1, 2, 2, 3, 5, 6, 7]

In [39]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [36]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [37]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [38]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [41]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
zipped

In [42]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [43]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [44]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [45]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [46]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [1]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [2]:
d1['b']

[1, 2, 3, 4]

In [3]:
d1['dummy'] = 'another value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'dummy': 'another value'}

In [4]:
del d1['a']
d1

{'b': [1, 2, 3, 4], 'dummy': 'another value'}

In [5]:
ret = d1.pop('dummy')
ret

'another value'

In [6]:
d1

{'b': [1, 2, 3, 4]}

In [7]:
'b' in d1

True

In [9]:
list(d1.keys())

['b']

In [10]:
list(d1.values())

[[1, 2, 3, 4]]

In [11]:
d1['b'] = 1
d1

{'b': 1}

In [12]:
d1.update({'b': 2, 2: ['a', 'b']})
d1

{'b': 2, 2: ['a', 'b']}

In [16]:
map1 = dict(zip(range(5), range(5, -5, -1)))
map1

{0: 5, 1: 4, 2: 3, 3: 2, 4: 1}

In [17]:
map2 = dict(zip(range(10), range(5, 0, -1)))
map2

{0: 5, 1: 4, 2: 3, 3: 2, 4: 1}

In [19]:
ret = d1.pop(1)
ret

KeyError: 1

In [20]:
del d1[1]

KeyError: 1

In [21]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [24]:
from collections import defaultdict
by_letter = defaultdict(list)
by_letter

defaultdict(list, {})

In [25]:
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [32]:
s0 = set([1, 2, 3])
s0.remove(4)

KeyError: 4

In [30]:
s1 = set([3, 4, 5])
s0 ^ s1

{1, 2, 4, 5}

In [33]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [34]:
{len(x) for x in strings}

{1, 2, 3, 4, 6}

In [35]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [36]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [42]:
list(map(lambda k: k ** 2, [1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [45]:
dict(map(lambda x, y: (x, y), [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]))

{1: 2, 3: 4, 5: 6, 7: 8, 9: 10}

In [50]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
result = [name for names in all_data for name in names
          if name.count('e') >= 1]
result

['Michael', 'Steven', 'Javier']

In [48]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [58]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

c = 1
a, b, d = f()
print(a, b, c)

5 6 1

In [60]:
import re
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 
          'FlOrIda', 'south   carolina##', 'West virginia?']

def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [61]:
anon = lambda x: x * 2
anon(4)

8

In [62]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [63]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [68]:
def add(*args, **kwargs):
    for n in args:
        print(n)
    print("-"*10)
    for k, v in kwargs.items():
       print('%s=%s' % (k, v))

add(1, 2, 3, k1=10, k2=20)

1
2
3
----------
k1=10
k2=20

In [70]:
from functools import partial
add_partial = partial(add, 10, k1=10, k2=20)
add_partial(1, 2, 3, k3=20)

10
1
2
3
----------
k1=10
k2=20
k3=20

In [73]:
add_partial(1, k1=0)

10
1
----------
k1=0
k2=20

In [74]:
gen = (x for x in range(5))
print(gen)

<generator object <genexpr> at 0x0000023E97215830>

In [75]:
for item in gen:
    print(item)

0
1
2
3
4

In [76]:
def createGenerator() :
    mylist = range(3)
    for i in mylist :
        yield i*i

mygenerator = createGenerator()
print(mygenerator)
for res in mygenerator:
    print(res)

<generator object createGenerator at 0x0000023E97215938>
0
1
4

In [79]:
mygenerator = createGenerator()
print(next(mygenerator))

0

In [86]:
dict((x, x ** 2) for x in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [95]:
import itertools as it
list(it.groupby(range(3)))

[(0, <itertools._grouper at 0x23e972b4cf8>),
 (1, <itertools._grouper at 0x23e972b4e48>),
 (2, <itertools._grouper at 0x23e972b4ef0>)]

In [110]:
import itertools
first_letter = lambda x: x[0]
allnames = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(allnames, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [103]:
mygenerator = it.groupby(allnames, lambda x : x[1])
for i, j in mygenerator:
    print(i, list(j))

l ['Alan']
d ['Adam']
e ['Wes']
i ['Will']
l ['Albert']
t ['Steven']

In [109]:
sorted('horse race', key = lambda x : -ord(x))

['s', 'r', 'r', 'o', 'h', 'e', 'e', 'c', 'a', ' ']

In [113]:
list(it.product(range(2), ['a', 'b'], repeat = 1))

[(0, 'a'), (0, 'b'), (1, 'a'), (1, 'b')]

In [22]:
def attempt_float(x):
    try:
        return float(x)
    except (ValueError, TypeError) as e:
        print(e)
        return x
    except Exception:
        return x
attempt_float('1.234')

1.234

In [7]:
attempt_float('1')

1.0

In [21]:
attempt_float('1.a')

could not convert string to float: '1.a'

'1.a'

In [17]:
try:
    f = open(path, 'w')
except:
    print('Not Found')
else:
    try:
        write_to_file(f)
    except:
        print('Failed')
    else:
        print('Succeeded')
    finally:
        f.close()

Not Found

In [25]:
def ThorwErr():
    raise Exception("抛出一个异常")
ThorwErr()

Exception: 抛出一个异常

In [52]:
class MuffledCalculator:
    muffled = False
    def calc(self, expr):
        try:
            return eval(expr)
        except ZeroDivisionError:
            if self.muffled:
                print('Division by zero is illegal')
            else:
                raise
a = MuffledCalculator()
# a.muffled = True
a.calc('2/0')

ZeroDivisionError: division by zero

In [57]:
class ShortInputException(Exception):
    def __init__(self, length, atleast):
        self.length = length
        self.atleast = atleast
try:
    s = input()
    if len(s) < 3:
        raise ShortInputException(len(s), 3)
except ShortInputException as e:
    print('输入长度是%s,长度至少是%s' %(e.length, e.atleast))
else:
    print(s)

ab
输入长度是2,长度至少是3

In [132]:
path = 'segismundo.txt'
f1 = open(path, 'rb')
lines = (x.rstrip() for x in open(path))
a = f1.read(10)
a.decode(encoding = 'utf-8')
# Out: 'Sueña el '
f2 = open(path)
lines = (x.rstrip() for x in open(path))
a = f2.read(10)
a.encode(encoding = 'gbk').decode('utf-8')
# Out: 'Sueña el r'

'Sueña el r'

In [149]:
with open('segismundo.txt', 'r', encoding='gbk') as f:
    lines = [x.rstrip().encode('cp936').decode('utf-8')\
             for x in open(path)]
lines[0]

'Sueña el rico en su riqueza,'

In [134]:
print(f1.tell(), f2.tell())

10 11

In [135]:
import sys
sys.getdefaultencoding()

'utf-8'

In [136]:
import locale
locale.getpreferredencoding()

'cp936'

In [155]:
f = open(path, 'r')
f.seek(3)

3

In [156]:
f.read(1).encode('gbk').decode('utf-8')

'ñ'